.App {
  text-align: left;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}

.App-link {
  color: #61dafb;
}

.swatchElement {
  height: 100px;
  padding: 10px;
  width: 100px;
}
